@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    top: 0;
    margin: 0;
}
.head{
    width: 100%;
    height: 35vh;
    background-color: rgb(47, 214, 226);
}
.wrapper{
    display: flex;
    justify-content: space-around;

}
.profile{
    width: 130px;
    height: 155px;
    object-fit: cover;
    margin-top: 70px;
    border:7px solid white;
}
.right{
    margin-right: 25%;
    margin-top: 35px;
}
.name{
    color: white;
}
.cv{
    font-size: 15px;
    padding: 10px;
    border-radius: 50px;
    margin: 10px;
    border: none;
    margin-left: 0;
}
.hire{
    font-size: 15px;
    padding: 10px;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: lightgreen;
    color: black;
    font-weight: 700;
}
.designation{
    font-size: 18px;
}
.about{
    margin-top: 70px;
    margin-left:40px;
    margin-right:180px;
}
.about-wrapper{
    display: flex;
    justify-content: space-between;

}
.about-left{
    width: 45%;
}
.para{
    margin-top: 20px;
    font-size: 17px;
}
.details{
    margin-top: 20px;
}
.about::after{
    content: "";
    height: 5px;
    width: 220px;
    background: rgb(49, 230, 49);
    display: block;

}
.skills{
    margin-top: 35px;
    margin-left:40px;
}
.skills{
    margin-top: 35px;
    margin-left:40px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.skills-wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
progress{
    font-size: 35px;
    margin-bottom: 15px;
    width: 558px;
}
label{
    font-size: 18px;
}
.contactform{
    width: 50vw;
    margin-left: 24%;
    display: none;
}
.contactme{
    margin-bottom: 15px;
}
.contactme::after{
    content: "";
    width: 170px;
    margin-top: 8px;
    height: 5px;
    display: block;
    background-color: lightgreen;
}
.form-control{
    margin-bottom: 25px;
}
.btn{
    margin-top: 10px;
    margin-bottom: 50px;
}
a{
    color: black;
    text-decoration: none;
}
a:link{
    text-decoration: none;
}